.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
  transition: transform 0.01s;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  width: fit-content;
}

.header__searchInput {
  padding: 1px;
  height: 24px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 3px;
  height: 20px !important;
  background-color: coral;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: aliceblue;
  transition: transform 0.01s;
}

.header__optionBasket:hover {
  transform: scale(1.1);
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: aliceblue;
  transition: transform 0.01s;
}

.header__option:hover {
  transform: scale(1.02);
}

.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

Link > .header__optionLineOne,
.header__optionLineTwo {
  text-decoration: none;
}
